{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row mt-2">
        <div class="row mt-2">
            <div class="col-md-6">
                <strong>Imported Tenants: </strong> <br>
                {% for tenant in tenant_list %}
                    => {{ tenant }} <br>
                {% empty %}
                    <em>there where no tenants to import</em>
                {% endfor %}
                <br>
                <br>
            </div>
            <div class="col-md-6">
                <strong>Imported Servers: </strong> <br>
                {% for server in server_list %}
                    => {{ server }} <br>
                {% empty %}
                    <em>there where no servers to import</em>
                {% endfor %}
                <br>
                <br>
            </div>
            <div class="col-md-6">
                <strong>Imported Rooms: </strong> <br>
                {% for room in room_list %}
                    => {{ room }} <br>
                {% empty %}
                    <em>there where no rooms to import</em>
                {% endfor %}
                <br>
                <br>
            </div>
            <div class="col-md-6">
                <strong> Imported Homerooms: </strong> <br>
                {% if homeroom_list|length > 0 %}
                    {% for homeroom in homeroom_list %}
                        => {{ homeroom }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>there where no homerooms to import</em>
                {% endif %}
            </div>
            <div class="col-md-6">
                <strong> Imported Room Configurations: </strong> <br>
                {% if room_configuration_list|length > 0 %}
                    {% for room_configuration in room_configuration_list %}
                        => {{ room_configuration }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>there where no room configurations to import</em>
                {% endif %}
            </div>
            <div class="col-md-6">
                <strong> Imported Meetings: </strong> <br>
                {% if meeting_updates|length > 0 %}
                    {% for meeting in meeting_updates %}
                        => {{ meeting }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>there where no meetings to import</em>
                {% endif %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <strong> All tenants updated: </strong> <br>
                {% if tenant_updates|length > 0 %}
                    {% for tenant in tenant_updates %}
                        => {{ tenant }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>no tenants in file</em>
                {% endif %}
            </div>
            <div class="col-md-6">
                <strong> All servers updated: </strong> <br>
                {% if server_updates|length > 0 %}
                    {% for server in server_updates %}
                        => {{ server }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>no servers in file</em>
                {% endif %}
            </div>
            <div class="col-md-6">
                <strong> All rooms updated: </strong> <br>
                {% if room_updates|length > 0 %}
                    {% for room in room_updates %}
                        => {{ room }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>no rooms in file</em>
                {% endif %}
            </div>
            <div class="col-md-6">
                <strong> All Homerooms updated: </strong> <br>
                {% if homeroom_updates|length > 0 %}
                    {% for homeroom in homeroom_updates %}
                        => {{ homeroom }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>no homerooms in file</em>
                {% endif %}
            </div>
            <div class="col-md-6">
                <strong> All Room Configurations updated: </strong> <br>
                {% if room_configuration_updates|length > 0 %}
                    {% for room_configuration in room_configuration_updates %}
                        => {{ room_configuration }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>no room configurations in file</em>
                {% endif %}
            </div>
            <div class="col-md-6">
                <strong> All Meetings updated: </strong> <br>
                {% if meeting_updates|length > 0 %}
                    {% for meeting in meeting_updates %}
                        => {{ meeting }} <br>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <em>no meetings in file</em>
                {% endif %}
            </div>
            <div class="col-md-6">
                <strong> General Parameter updated </strong>
            </div>
        </div>
    </div>
{% endblock %}
